<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>U.S. Federal GitHub Usage</title>

	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
	<link href='CSS/custom.css' rel='stylesheet' type='text/css'> 

	<script type="text/javascript" language="javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script type="text/javascript" language="javascript" src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<script type="text/javascript" language="javascript" src="http://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>

       <link rel="stylesheet" href="./jquery-circle-progress/page-styles.css">
       <script src="./jquery-circle-progress/dist/circle-progress.js"></script></script>
  
       <script type="text/javascript" language="javascript" src="JS/custom.js"></script>
</head>

<body bgcolor="#F8F8F8">

<DIV style="font-size:24px; color:#00427c; background-image:url(Images/bg.png);" align="center">
	<IMG src="Images/gsa.png" alt="GSA Logo" title="GSA Logo"> &nbsp; GitHub Dashboard<br>
</DIV>

<div id="tabs">
<ul>
	<li><a href="#tabs-1">Overview</a></li>
	<li><a href="#tabs-2">Organizations</a></li>
	<li><a href="#tabs-3">Find Code</a></li>
</ul>

<div id="tabs-1" align="center">    


<!--Dynamically created content starts below-->

<!--CIRCLE1-->

<!--End of dynamically created content above-->

<P><br></P><P><br></P><P></P><P></P>


<P>
<DIV style="color:#51627e; background-color:#DEF0F8; height:40px; padding-top:22px">
<a href="datasheets/about.html" style="color:#51627e">About</a> &nbsp; | &nbsp;
<a href="word.html" style="color:#51627e">Word Frequency</a> &nbsp; | &nbsp;
<a href="language.html" style="color:#51627e">Language Frequency</a> &nbsp; | &nbsp;
<a href="mostactive.html" style="color:#51627e">Most Active Repositories</a> &nbsp; | &nbsp;
<a href="newest.html" style="color:#51627e">Newest Repositories</a> &nbsp; | &nbsp;
<a href="day.html" style="color:#51627e">New Repositories - 14 Days</a> &nbsp; | &nbsp;
<a href="month.html" style="color:#51627e">New Repositories - 12 months</a> &nbsp; | &nbsp;
<a href="year.html" style="color:#51627e">New Repositories by Year</a> 
</DIV>
</P>

</div>

<div id="tabs-2">    
  <!-- Data Table //-->
<caption>Table of Federal GitHub data (such as: Agency, Number of Repositories, Average Issues, Average Commits, etc.)</caption>

  <table id="ghfedorgs" class="display" cellspacing="0" width="100%">
         <thead>
            <tr style="background-color:#C9E8FA; ">
                <th id="Logo"   style="background-color:#C9E8FA;"></th>
                <th id="Name"   style="background-color:#C9E8FA;">Name</th>
                <th id="Type"   style="background-color:#C9E8FA;">Type</th>
                <th id="Agency" style="background-color:#C9E8FA;">Agency</th>
                <th id="Sub_Agency"       style="background-color:#C9E8FA;">Sub</th>
                <th id="Blog"   style="background-color:#C9E8FA;">Blog</th>
                <th id="Email"  style="background-color:#C9E8FA;">Email</th>
                <th id="Repositories" style="background-color:#C9E8FA;">Repos</th>
                <th id="Missing_Descriptions" style="background-color:#C9E8FA;">!Descrips</th>
                <th id="Average_Watchers" style="background-color:#C9E8FA;">Avg. Watchers</th>
                <th id="Average_Issues" style="background-color:#C9E8FA;">Avg. Issues</th>
                <th id="Average_Commits" style="background-color:#C9E8FA;">Avg. Commits</th>
                <th id="Organizational_Info" style="background-color:#C9E8FA;">Org Info</th>
            </tr>
        </thead>

 
        <tbody>

<!--Dynamically created content starts below-->

<!--TABLE1-->

<!--End of dynamically created content above-->


 	</tbody>
     </table>
  </div>




<div id="tabs-3">    


<table id="ghfeddescs" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th id="Project_Repository"   style="background-color:#C9E8FA;">Project Repository</th>
                <th id="Language"   style="background-color:#C9E8FA;">Language</th>
                <th id="Description"   style="background-color:#C9E8FA;">Description</th>
                <th id="Latest_Release"   style="background-color:#C9E8FA;">Latest Release</th>
                <th id="Contreibutors"   style="background-color:#C9E8FA;">Contributors</th>
            </tr>
        </thead>
 
        <tbody>



<!--Dynamically created content starts below-->



<!--TABLE2-->


<!--End of dynamically created content above-->




</div>
</body>
</html>
